//Editor
$editor-bg: #EFFEFF;

//Main
$main-bg: #AFCFAF;

//Preview
$preview-bg: #CFE2CF;

//Multiple components
$font: 'Open Sans', sans-serif;
$grey: #666666;
$font-size: 1.25rem;
$padding: 0.25rem;
$border: 0.125rem $grey solid;
