//Editor
$editor-bg: #EFF5EF;

//Main
$main-bg: #8FBC8F;

//Preview
$preview-bg: #BFD9BF;

//Multiple components
$grey: #666666;
$font-size: 1.25rem;
$padding: 0.25rem;
$border: 0.125rem $grey solid;
