#editor {
    background-color: $editor-bg;
    border: $border;
    color: $darkgrey;
    font-family: $font-mono;
    font-size: $font-size;
    height: 10rem;
    margin: 0 auto;
    padding: $padding;
}

div {
    padding-bottom: 1.5rem;
}