#footer {
    background-color: $main-bg;
    font-size: $font-size;
    padding-top: 1rem;
    text-align: center;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}